

<h1>Créer un nouveau voyage</h1>

<%= form_for(@trip) do |f| %>
  <!-- Champs du formulaire pour créer un nouveau voyage -->

  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :debut %>
    <%= f.date_field :debut %>
  </div>

  <div class="field">
    <%= f.label :fin %>
    <%= f.date_field :fin %>
  </div>

    <div class="field">
    <%= f.label :user_id, "Utilisateur" %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: "Sélectionner un utilisateur" %>
     </div>

  <div class="actions">
    <%= f.submit 'Créer le voyage' %>
  </div>
<% end %>

<%= link_to 'Retour', trips_path %>
